<% @page_title = "Your Conversations" %>

<div class="full">
	<div class="wrap">
		<h1><%= @page_title %></h1>
	  <hr class="title-line">
		<div class="clearfix"></div>

		<div id="conversations">
		  <%= render @conversations %>
		</div>
	</div>
</div>
